:root {
  --sidedrawer-background: oklch(0.54 0.09 170.37);
  --sidedrawer-foreground: oklch(0.95 0 0);
  --sidedrawer-item-foreground: oklch(0.95 0.01 226);
  --sidedrawer-item-foreground-secondary: oklch(0.8 0 0);
  --sidedrawer-item-foreground-subtle: oklch(0.81 0.03 173.82);
  --sidedrawer-item-active-background: oklch(0.39 0.07 170.62 / 0.6);
  --sidedrawer-item-active-foreground: oklch(0.98 0 0);
  --sidedrawer-item-active-foreground-secondary: oklch(0.89 0.03 173.82);
  --sidedrawer-item-hover-background: oklch(0.39 0.07 170.62 / 0.3);
}

.fade-fast-enter-active,
.fade-fast-leave-active {
  transition: opacity 0.2s ease;
}

.fade-fast-enter-from,
.fade-fast-leave-to {
  opacity: 0;
}

.app-logo {
  padding-left: 0.75rem;
  padding-right: 0.25rem;

  > img {
    height: 42px;
  }
}

.table {
  > thead {
    th {
      font-weight: 500;
      &:first-child {
        padding-left: 1rem;
      }

      &:last-child {
        padding-right: 1rem;
      }
    }
  }

  > tbody {
    td {
      a {
        text-decoration: none;

        &:hover {
          text-decoration: underline;
          text-underline-offset: 2px;
        }
      }

      &:first-child {
        padding-left: 1rem;
      }

      &:last-child {
        padding-right: 1rem;
      }
    }
  }

  .md-badge {
    --md-badge-font-size: 0.7rem;
    --md-badge-padding-y: 0.25rem;
    min-height: 28px;
  }

  .badge-tonal {
    --md-badge-font-weight: var(--font-weight-semibold);
    border-color: color-mix(in oklch, currentColor, transparent 80%);
  }
}

.md-appbar {
  --md-appbar-title-font-weight: 500;
}

.md-card {
  > .table-responsive {
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
  }
}

.md-card-body {
  .table {
    margin-bottom: 0.25rem;
  }
}

.md-popover-dropdown-menu {
  .md-list {
    --md-nav-item-font-size: 0.875rem;
    --md-listview-padding-x: 0.375rem;
  }

  > .md-list {
    --md-listview-item-gap: 2px;
  }
}

.md-popover {
  & .dropdown-menu {
    --bs-dropdown-font-size: 0.875rem;
  }
}

.bg-dark-pink {
  background-color: oklch(48.466% 0.19523 353.122);
}

@media (min-width: 1200px) {
  .container-fluid {
    &.px-xl-5 {
      padding-right: 2rem !important;
      padding-left: 2rem !important;
    }
  }
}
