.fade-fast-enter-active,
.fade-fast-leave-active {
  transition: opacity 0.2s ease;
}

.fade-fast-enter-from,
.fade-fast-leave-to {
  opacity: 0;
}

.bg-pink-darken {
  background-color: #a90a68 !important;
}

.md-appbar {
  --md-appbar-title-font-weight: 500;
}

.app-logo {
  padding-left: 0.75rem;
  padding-right: 1rem;

  > img {
    height: 42px;
  }
}

.music-slider {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: hidden;

  > .music-item {
    padding: 0 calc(var(--bs-gutter-x) * .5) calc(var(--bs-gutter-y) * .5);

    &:first-child {
      padding-left: 2px;
    }
  }

  .card {
    --bs-card-color: #fff;
    width: 356px;
  }

  .card-image {
    padding: 1rem 1rem 1rem 0.25rem;

    > img {
      height: 120px;
      width: 120px;
    }
  }
}

@media (min-width: 1200px) {
  .container-fluid {
    &.px-xl-5 {
      padding-right: 2rem !important;
      padding-left: 2rem !important;
    }
  }
}
