.fade-fast-enter-active,
.fade-fast-leave-active {
  transition: opacity 0.2s ease;
}

.fade-fast-enter-from,
.fade-fast-leave-to {
  opacity: 0;
}

.app-logo {
  padding-left: 0.75rem;
  padding-right: 1rem;

  > img {
    height: 42px;
  }
}

.table {
  > thead {
    th {
      font-weight: 500;
    }
  }

  .md-badge {
    --md-badge-font-size: 0.7rem;
    --md-badge-padding-y: 0.25rem;
    border-color: color-mix(in oklch, currentColor, transparent 80%);
    min-height: 28px;
  }
}

.md-card {
  > .table-responsive {
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;

    > .table {
      > thead {
        th {
          &:first-child {
            border-top-left-radius: var(--bs-card-border-radius);
            padding-left: 1rem;
          }

          &:last-child {
            border-top-right-radius: var(--bs-card-border-radius);
            padding-right: 1rem;
          }
        }
      }

      > tbody {
        td {
          a {
            text-decoration: none;

            &:hover {
              text-decoration: underline;
            }
          }

          &:first-child {
            padding-left: 1rem;
          }

          &:last-child {
            padding-right: 1rem;
          }
        }

        > tr:last-child {
          > td {
            border-width: 0;
          }
        }
      }
    }
  }
}

.md-card-body {
  .table {
    margin-bottom: 0.25rem;
  }
}

.md-popover-dropdown-menu {
  .md-list {
    --md-nav-item-font-size: 0.875rem;
  }
}

.md-popover {
  & .dropdown-menu {
    --bs-dropdown-font-size: 0.875rem;
  }
}
.bg-dark-pink {
  background-color: oklch(48.466% 0.19523 353.122);
}

@media (min-width: 1200px) {
  .container-fluid {
    &.px-xl-5 {
      padding-right: 2rem !important;
      padding-left: 2rem !important;
    }
  }
}
